/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgba(26, 11, 46, 1);
    font-family: "Inter", sans-serif;
}


/* Global Styles */
a{
    text-decoration: none;
}

ul li{
    list-style: none;
}

p{
    line-height: 1.8rem !important;
    color: rgb(211 194 194) !important;
}

/* Global Classes */
.container{
    max-width: 1140px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}

.flex{
    display: flex;
}

.justify-between{
    justify-content: space-between;
}

.items-center{
    align-items: center;
}

.btn{
    cursor: pointer;
    color: white;
    border-radius: 20px;
    border: none;
    gap: 6px;
    padding: 12px 16px;
    transition: .3s;
    background: linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
}

.btn:hover{
  filter: brightness(1.1);
}

/* Header Area */

.header-wrapper{
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: rgba(26, 11, 46, 1);
}
header{
    padding-top: 20px;
    padding-bottom: 20px;
}

.logo{
    color: white;
}
.logo span{
    background: linear-gradient(3.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main-menu{
    gap: 32px;
}
.main-menu li a{
    text-transform: capitalize;
    color: white;
    font-weight: 500;
}

header button{
    font-weight: 600;
}

header .sub-btn i{
    animation: headerbtn 3s ease-in-out infinite;
}

@keyframes headerbtn {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(6px);
  }
  100% {
    transform: translateX(0);
  }
}


/* Banner Area */
.banner-area{
    position: relative;
    width: 100%;
    height: 700px;
    background-image: url(./assets/hero-bg.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.banner-content{
    position: absolute;
    flex-direction: column;
    gap: 24px;
}
.mic-bg{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 350px;
    background-image: url(./assets/hero-circle.png);
    background-repeat: no-repeat;
}

.badge{
    color: #0c011d;
    padding: 8px 16px;
    border-radius: 20px;
    position: absolute;
    top: 5px;
    right: 40px;
    background-color: #00FF88;
    animation: mypulse 1s infinite ease-in-out alternate;
    border-radius: 1000px;
    box-shadow: 0px 3px 27px 0px rgba(0, 255, 136, 0.5);
}


@keyframes mypulse {
  from { transform: scale(0.8); }
  to { transform: scale(1); }
}

.banner-content h2{
    color: white;
    font-size: 3.75rem;
}

.banner-content p{
    color: white;
}

.btn-group{
    gap: 8px;
    max-width: fit-content;
    margin: 0 auto;
}
.banner-content .btn-group button:last-child{
    border: 1px solid #00FF88 !important;
    gap: 6px;
    color: #00FF88;
    border-radius: 20px;
    border: none;
    gap: 6px;
    padding: 12px 16px;
    background-color: transparent;
    cursor: pointer;
}


/* About Area */
.about-content{
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    color: white;
    gap: 10px;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 50px;
}

.mt-2{
    margin-top: 20px;
}

.about-content h2{
    font-size: 48px;
}
.about-content p{
    color: rgba(255, 255, 255, 1);
}

.counter-area{
    border-top: 1px solid rgba(255, 255, 255, 1);
    padding-top: 50px;
    padding-bottom: 80px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
}

.counter-area div h3{
    font-size: 48px;
    color: #00FF88;
}
.counter-area div p{
    padding-top: 10px;
    color: white;
}

/* Info Area */
.info-wrapper{
    background-color: #230E3D;
    padding: 80px 0;
}
.info-title{
    color: white;
    font-size: 48px;
    text-align: center;
    padding-bottom: 40px;
}

.info-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 30px;
}

.col-2{
    grid-column: span 2;
}
.row-2{
    grid-row: span 2;
}
.info-grid-card{
    background-color: #2A0F4D;
    padding: 40px;
    border-radius: 20px;
    color: white;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
}
.info-grid-card h3{
    font-size: 1.5rem;
}
.info-grid-card img{
    width: 60px;
    padding-bottom: 10px;
}
/* Featured Area */
.featured-area{
    padding-top: 100px;
    padding-bottom: 100px;
}

.featured-title{
    color: white;
    font-size: 48px;
    text-align: center;
    padding-bottom: 40px;
}

.featured-card{
    display: flex;
    flex-direction: column;
}

.featured-card-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.featured-card .featured-img iframe{
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
    display: block;
    border-top-right-radius: 24px;
    border-top-left-radius: 24px;
}

.featured-card .featured-card-content{
    flex: 1;
    padding: 24px;
    background-color: #250D44;
    color: white;
    flex-direction: column;
    gap: 10px;
    border-bottom-right-radius: 24px;
    border-bottom-left-radius: 24px;
}

.featured-card .featured-card-content h2{
    font-size: 1.5rem;
}

.featured-card .featured-card-content span{
    gap: 6px;
    color: #00FF88;
}


/* Host Area */
.host-area{
    padding-bottom: 80px;
}
.host-title{
    color: white;
    font-size: 48px;
    text-align: center;
    padding-bottom: 40px;
}

.host-card{
    background-color: #250E44;
    border-radius: 40px;
    padding: 40px;
    gap: 30px;
}

.host-content{
    flex-direction: column;
    gap: 10px;
    color: white;
}

.host-content h3{
    font-size: 2rem;
}

.host-social-group{
    gap: 8px;
    padding-top: 6px;
}

.host-social-group a{
    border: 1px solid rgba(83, 60, 114, 1);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
}

.host-social-group a i{
    background: linear-gradient(3.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


/* Footer Area */

footer{
    width: 100%;
    height: 300px;
    position: relative;
    background-image: url(./assets/footer-bg.png);
    background-position: center center;
    background-repeat: repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-content{
    position: absolute;
    text-align: center;
    flex-direction: column;
    gap: 20px;
}
.footer-logo{
    font-size: 48px;
    color: white;
}
.footer-logo span{
    background: linear-gradient(3.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.footer-icon-group{
    gap: 30px;
}

.footer-icon-group a{
    color: white;
    gap: 10px;
}

.footer-content p{
    color: white;
}

.mobile-menu{
    background-color: transparent;
    color: white;
    border: none;
    font-size: 1.5rem;
    display: none;
}


/* Responsive */

@media screen and (max-width: 576px){
    .container{
        width: 90%;
    }

    .mobile-menu{
        display: block;
    }

    .header-wrapper{
        border-bottom: 1px solid rgba(65, 37, 103, 1);
    }

    .mic-bg{
        width: 250px;
        height: 250px;
        background-size: contain;
        margin-top: 120px;
    }
    .mic-bg img{
        width: 80px;
    }

    .main-menu,
    .sub-btn{
        display: none;
    }

    .banner-area{
        margin-bottom: 80px;
        height: 470px;
    }

    .banner-content{
        width: 90%;
    }

    .counter-area{
        grid-template-columns: repeat(2, 1fr);
        gap: 30px 20px;
    }

    .counter-area div h3{
        font-size: 40px;
    }

    .info-title,
    .about-content h2,
    .featured-title,
    .host-title{
        font-size: 2rem;
    }

    .banner-content h2{
        font-size: 2.5rem;
    }

    .info-grid{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;
        gap: 30px;
    }

    .info-grid-card{
        grid-column: span 1;
        grid-row: span 1;
        padding: 30px;
    }


    .featured-card-wrapper{
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
    }


    .host-card{
        flex-direction: column;
        text-align: center;
    }

    .host-social-group{
        width: fit-content;
        margin: 0 auto;
    }

    .host-social-group a{
        width: 50px;
        height: 50px;
        line-height: 50px;
        font-size: 1.6rem;
    }

   .footer-content{
        width: 90%;
        margin: 0 auto;
    }

    .footer-icon-group{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        width: 80%;
        margin: 0 auto;
    }


}

@media screen and (max-width: 992px) and (min-width: 576px){
    .container{
        width: 90%;
    }

    .mobile-menu{
        display: block;
    }

    .header-wrapper{
        border-bottom: 1px solid rgba(65, 37, 103, 1);
    }

    .main-menu,
    .sub-btn{
        display: none;
    }

    .banner-content{
        width: 90%;
    }

    .counter-area{
        grid-template-columns: repeat(2, 1fr);
        gap: 30px 20px;
    }

    .info-title,
    .about-content h2,
    .featured-title,
    .host-title{
        font-size: 2rem;
    }

    .banner-content h2{
        font-size: 2.5rem;
    }

    .info-grid{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;
        gap: 30px;
    }

    .info-grid-card{
        grid-column: span 1;
        grid-row: span 1;
    }

    .featured-card-wrapper{
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }

    .host-card{
        flex-direction: column;
        text-align: center;
    }

    .host-social-group{
        width: fit-content;
        margin: 0 auto;
    }

    .host-social-group a{
        width: 50px;
        height: 50px;
        line-height: 50px;
        font-size: 1.6rem;
    }

   .footer-content{
        width: 90%;
        margin: 0 auto;
    }

    .footer-icon-group{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        width: 80%;
        margin: 0 auto;
    }
}